<app-header></app-header>


<div class="data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="sparkline13-list">

          <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

              <div class="">

                <div class="main-sparkline13-hd">
                  <div class="part">
                    <h1>Match Score Threshold<small>(Select Row To Update)</small></h1>

                  </div>



                  <div class="btn-group btn-group-sm">
                    <button (click)="backClicked()" class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>
                      Back</button>




                    <div class="dropdown btn-group ">
                      <button class=" dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown"><i
                          class="fa fa-toggle-down"></i> Column
                      </button>
                      <ul class="dropdown-menu trust-menu">

<li class="dropdown-item ">
  <label for="zoneidms"> <input type="checkbox" [checked]="zoneidms" (change)="zoneidms=!zoneidms"
      id="zoneidms" />&nbsp;ZONEID</label>
</li>

<li class="dropdown-item ">
  <label for="matchscorems"> <input type="checkbox" [checked]="matchscorems" (change)="matchscorems=!matchscorems"
      id="matchscorems" />&nbsp;MATCHSCORE THRESHOLD</label>
</li>

<li class="dropdown-item ">
  <label for="paysysms"> <input type="checkbox" [checked]="paysysms" (change)="paysysms=!paysysms"
      id="paysysms" />&nbsp;PAYSYS ID</label>
</li>
<ng-container *ngIf="_isaccess">
<li class="dropdown-item ">
  <label for="oldzoneidms"> <input type="checkbox" [checked]="oldzoneidms" (change)="oldzoneidms=!oldzoneidms"
      id="oldzoneidms" />&nbsp;OLD ZONE ID</label>
</li>

<li class="dropdown-item ">
  <label for="oldmatchscorems"> <input type="checkbox" [checked]="oldmatchscorems" (change)="oldmatchscorems=!oldmatchscorems"
      id="oldmatchscorems" />&nbsp;OLD MATCHSCORE THRESHOLD</label>
</li>

<li class="dropdown-item ">
  <label for="oldpaysysidms"> <input type="checkbox" [checked]="oldpaysysidms" (change)="oldpaysysidms=!oldpaysysidms"
      id="oldpaysysidms" />&nbsp;OLD PAYSYS ID</label>
</li>

<li class="dropdown-item ">
  <label for="changetypems"> <input type="checkbox" [checked]="changetypems" (change)="changetypems=!changetypems"
      id="changetypems" />&nbsp;CHANGE TYPE</label>
</li>
</ng-container>




                      </ul>
                    </div>
                    <ng-container *ngIf="!_isaccess">
                      <button (click)="addform()" class="btn btn-primary btn-sm"
                        [ngClass]="{'btn-default' : toggle, 'btn-success': !toggle}"><i class="fa fa-plus"></i> Add
                        Form</button>
                      <button class="btn btn-primary btn-sm" (click)="deleteSelected(myform)"
                        [class.disabled]="isdelete_button"><i class="fa fa-trash"></i> Delete</button>
                    </ng-container>
                  </div>








                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">
<thead class="table_header">
  <tr>
    <th class="text-center"><input type="checkbox" class="disabled" /></th>
    <th>Sr.no</th>
    <th *ngIf="zoneidms"><span><input type="text" class="form-control" placeholder="ZONE_ID" /></span></th>
    <th *ngIf="matchscorems"><span><input type="text" class="form-control" placeholder="MATCHSCORE_THRESHOLD" /></span>
    </th>
    <th *ngIf="paysysms"><span><input type="text" class="form-control" placeholder="PAYSYS_ID" /></span> </th>
    <ng-container *ngIf="_isaccess">
      <th *ngIf="oldpaysysidms"><span><input type="text" class="form-control" placeholder="OLD_ZONE_ID" /></span></th>
      <th *ngIf="oldmatchscorems"><span><input type="text" class="form-control" placeholder="OLD_MATCHSCORE_THRESHOLD" /></span> </th>
      <th *ngIf="oldpaysysidms"><span><input type="text" class="form-control" placeholder="OLD_PAYSYS_ID" /></span> </th>
      <th *ngIf="changetypems"><span><input type="text" class="form-control" placeholder="CHANGE_TYPE" /></span> </th>
      <th colspan="2" style="text-align: center;">ACTION</th>
    </ng-container>

  </tr>
</thead>
                  <tbody *ngIf="showdatapart?.length;else no_data_templ">

                    <ng-container
                      *ngFor="let item of showdatapart | paginate: { itemsPerPage: pageSize, currentPage: p }  let i=index">
                      <tr
                        [ngClass]="{'disabled': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == valuedelete)}"
                        (click)="onEdit(item,'Update')" [class.selected]="item === selectedmsRow">
                        <td style="text-align: center;"><input type="checkbox" [(ngModel)]="item.isSelected"
                            id="{{item.REF_KEY}}" name="deletecheck" value="{{item.REF_KEY}}"
                            (change)="selectID(item.REF_KEY,item.isSelected)"></td>
                        <td >{{i+1}}</td>

                        <td *ngIf="zoneidms">{{item.ZONE_ID}}</td>
                        <td *ngIf="matchscorems">{{item.MATCHSCORE_THRESHOLD}}</td>
                        <td *ngIf="paysysms">{{item.PAYSYS_ID}}</td>





                        <ng-container *ngIf="_isaccess">

                          <td *ngIf="oldzoneidms">{{item.OLD_ZONE_ID}}</td>
                          <td *ngIf="oldmatchscorems">{{item.OLD_MATCHSCORE_THRESHOLD}}</td>
                          <td *ngIf="oldpaysysidms">{{item.OLD_PAYSYS_ID}}</td>

                          <td *ngIf="changetypems">{{item.CHANGE_TYPE}}</td>
                          <td> <button class="btn btn-primary btn-sm" (mouseenter)="changetext('Approved',myform)"
                              (click)="ChkdeleteSelected(myform,item)"
                              [class.selected]="item === selectedmsRow">Approve</button></td>
                          <td> <button class="btn btn-primary btn-sm" (mouseenter)="changetextr('Rejected',myform)"
                              (click)="ChkNotdeleteSelected(myform,item)"
                              [class.selected]="item === selectedmsRow">Reject</button></td>
                        </ng-container>

                      </tr>
                    </ng-container>

                  </tbody>
                  <ng-template #no_data_templ>
                    <tbody>
                      <tr>
                        <td style="text-align: center;" colspan="100%"> No data found...</td>
                      </tr>
                    </tbody>
                  </ng-template>

                </table>
              </div>

              <div class="row">
                <div class="col-12">


                  <div class="align-items-md-start d-flex justify-content-lg-end">
                    <select id="PerPage" [(ngModel)]="pageSize" *ngIf="showdatapart?.length">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>






                </div>

              </div>


              <form #myform="ngForm" (ngSubmit)="submitform(myform)" id="addForm" style="display: none;">
                <div class="panel-body">
                  <h4>Add Record</h4>
                </div>

                {{myform.value|json}}
                <div class="row">
                  <div class="col-md-4">
                    <input type="hidden" name="REF_KEY" #REF_KEY="ngModel"
                      [(ngModel)]="_tableservice.selectmatchscore.REF_KEY">
                    <div class="form-group">
                      <label>Zone Id</label>
                      <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel"
                        [(ngModel)]="_tableservice.selectmatchscore.ZONE_ID" required>
                    </div>
                    <div class="form-group">
                      <label>MATCHSCORE_THRESHOLD</label>
                      <input type="text" class="form-control" name="MATCHSCORE_THRESHOLD"
                        #MATCHSCORE_THRESHOLD="ngModel"
                        [(ngModel)]="_tableservice.selectmatchscore.MATCHSCORE_THRESHOLD" required>
                    </div>
                    <div class="form-group">
                      <label>PAYSYS_ID</label>
                      <input type="text" class="form-control" name="PAYSYS_ID" #PAYSYS_ID="ngModel"
                        [(ngModel)]="_tableservice.selectmatchscore.PAYSYS_ID" required>
                    </div>


                  </div>

                  <div style="display: none;">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Id</label>
                        <input type="text" class="form-control" name="USER_ID" [value]="UserId" [(ngModel)]="UserId">
                      </div>
                      <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="USER_NAME" [value]="UserName"
                          [(ngModel)]="UserName">
                      </div>

                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Zone</label>
                        <input type="text" class="form-control" name="USER_ZONE" [value]="userzone"
                          [(ngModel)]="userzone">
                      </div>
                      <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control" name="ROLE" [value]="myData" [(ngModel)]="myData">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div></div>
                      <input type="text" class="form-control" name="HIST_ID" value=""
                        [(ngModel)]="_tableservice.selectmatchscore.HIST_ID">


                      <input type="text" class="form-control" name="APPROVE_STATUS" value="{{apstatus}}"
                        [(ngModel)]="apstatus">


                      <input type="text" class="form-control" name="CHANGE_TYPE" value=""
                        [(ngModel)]="_tableservice.selectmatchscore.CHANGE_TYPE">



                    </div>
                  </div>

                </div>



                <input type="submit" class="btn btn-success" value="{{btn_name}}">

              </form>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="footer-copy-right">
          <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>