
    
    
 <app-header></app-header>
 
      
 <div class="data-table-area mg-b-15">
 <div class="container-fluid">
 <div class="row">
 <div class="col-12">
 <div class="sparkline13-list">

 <div class="sparkline13-graph">
 <div class="datatable-dashv1-list custom-datatable-overright">

<div class="">

   <div class="main-sparkline13-hd">
     <div class="part" >
       <h1>politicaly-Exposed-Person  <small>(Select Row To Update)</small></h1>
     
     </div>

     
    
       <div class="btn-group btn-group-sm">
         <button (click)="backClicked()" class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Back</button>
         
     
         
   
       <div class="dropdown btn-group ">
         <button class=" dropdown-toggle btn btn-primary btn-sm"  type="button" data-toggle="dropdown"><i class="fa fa-toggle-down"></i> Column
         </button>
         <!-- <ul class="dropdown-menu trust-menu">


           <li class="dropdown-item ">
           <label for="nsn"> <input type="checkbox" [checked]="nsn" (change)="nsn=!nsn" id="nsn"/>&nbsp;Serial No.</label> 
           </li>
           <li class="dropdown-item">
             <label for="zoneid">   <input type="checkbox" [checked]="zoneid" (change)="zoneid=!zoneid" id="zoneid"/>&nbsp;Zone Id</label> 
         </li>
         <li class="dropdown-item">
           <label for="SENSITIVEWORDS">  <input type="checkbox" [checked]="SENSITIVEWORDS " (change)="SENSITIVEWORDS =!SENSITIVEWORDS " id="SENSITIVEWORDS"/>&nbsp;SENSITIVEWORDS</label>
           </li> 
        
           
           <li class="dropdown-item">
             <label for="ref_keys">  <input type="checkbox" [checked]="ref_keys " (change)="ref_keys =!ref_keys " id="ref_keys"/>&nbsp;Ref key</label>
             </li> 
            
         

         </ul> -->
       </div>
       <ng-container *ngIf="!_isaccess">
       <button (click)="addform()" class="btn btn-primary btn-sm" [ngClass]="{'btn-default' : toggle, 'btn-success': !toggle}"><i class="fa fa-plus"></i>  Update Form</button>
     
       </ng-container>
     </div>
    

     
   
   
 


</div>
</div>

 <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">
   <thead class="table_header">
   <tr>
     <th class="text-center"><input type="checkbox" class="disabled"/></th>
     <th *ngIf="nsn">Sr.no</th>
     <th *ngIf="zoneid"><span><input type="text" class="form-control"   placeholder="ZONE ID"/></span></th>
     <th><span><input type="text" class="form-control"    placeholder="SETTING_FLAG" /></span> </th>
     <th><span><input type="text" class="form-control"   placeholder="VALUE" /></span></th>
     <ng-container *ngIf="_isaccess">
       <th ><span><input type="text" class="form-control"  placeholder="OLD ZONE ID" /></span> </th>
       <th ><span><input type="text" class="form-control"  placeholder="OLD SENSITIVE WORD" /></span> </th>
       <th>CHANGE_TYPE</th>
       <th colspan="2" style="text-align: center;">ACTION</th>
     </ng-container>
    
     <th *ngIf="ref_keys">REF KEY</th>
   
   </tr>
 </thead>
 <tbody  *ngIf="showdatapart?.length;else no_data_templ">
   
   <ng-container  *ngFor="let item of showdatapart | paginate: { itemsPerPage: pageSize, currentPage: p } let i=index" >
     <tr  [ngClass]="{'disabled': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == valuedelete)}"   (click)="onEdit(item,'Update')" [class.selected]="item === selectedsensitiveRow">
       <td style="text-align: center;"><input type="checkbox"  [(ngModel)]="item.isSelected"  id="{{item.REF_KEY}}" name="deletecheck" value="{{item.REF_KEY}}" (change)="selectID(item.REF_KEY,item.isSelected)"></td>
       <td *ngIf="nsn">{{ (p - 1) * pageSize + i + 1 }}</td>         
       <td *ngIf="zoneid">{{item.ZONE_ID}}</td>
       <td >{{item.SETTING_FLAG}}</td>
       <td>{{item.VALUE}}</td>
     
       <td *ngIf="ref_keys">{{item.REF_KEY}}</td>
     
 
   
       <ng-container *ngIf="_isaccess">
       
       
         <td>{{item.OLD_ZONE_ID}}</td>
        
         <td *ngIf="zoneid" style="text-align: center;">{{item.CHANGE_TYPE}}</td>
         <td> <button class="btn btn-primary btn-sm" (mouseenter)="changetext('Approved',myform)"  (click)="ChkdeleteSelected(myform,item)" [class.selected]="item === selectedsensitiveRow">Approve</button></td>
         <td> <button class="btn btn-primary btn-sm" (mouseenter)="changetextr('Rejected',myform)" (click)="ChkNotdeleteSelected(myform,item)" [class.selected]="item === selectedsensitiveRow">Reject</button></td> 
         </ng-container>
    
     </tr>
   </ng-container>
  
 </tbody>
 <ng-template #no_data_templ>
   <tbody>
     <tr >
  <td style="text-align: center;" colspan="8"> No data found...</td>
 </tr>
 </tbody>
</ng-template>
 
 </table>
 <div class="row">
   <div class="col-12">
   
    
<div class="align-items-md-start d-flex justify-content-lg-end">
<select id="PerPage"  [(ngModel)]="pageSize"  *ngIf="showdatapart?.length">
 <option [ngValue]="5">5</option>
 <option [ngValue]="10">10</option>
 <option [ngValue]="25">25</option>
 <option [ngValue]="50">50</option>
</select> <pagination-controls  (pageChange)="p = $event"></pagination-controls>
</div>
      


    
   
   
   </div>
 
 </div>


 <form #myform="ngForm" (ngSubmit)="submitform(myform)" id="addForm" style="display: none;">
    <div class="panel-body">
      <h4>Add Record</h4>
    </div>
 
      {{myform.value|json}}
  <div class="row">
        <div class="col-md-4">
          <input type="hidden" name="REF_KEY" #REF_KEY="ngModel" [(ngModel)]="_tableservice.selectpep.REF_KEY">
          <div class="form-group">
            <label>Zone Id</label>
          <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel" [(ngModel)]="_tableservice.selectpep.ZONE_ID" required>
          </div>
          <div class="form-group">
            <label>Value</label>
       
          <select name="VALUE" #VALUE="ngModel" [(ngModel)]="_tableservice.selectpep.VALUE">
              <option value="Y">Y</option>
              <option value="N">N</option>
          </select>
        </div>
       
        </div>
        
        <div style="display: none;">
        <div class="col-md-4">
          <div class="form-group">
            <label>User Id</label>
            <input type="text" class="form-control" name="USER_ID"  [value]="UserId"  [(ngModel)]="UserId">
          </div>
          <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" name="USER_NAME"  [value]="UserName"  [(ngModel)]="UserName">
          </div>
          
        </div>
        <div class="col-md-4">
         <div class="form-group">
             <label>User Zone</label>
             <input type="text" class="form-control" name="USER_ZONE" [value]="userzone"   [(ngModel)]="userzone">
           </div>
          <div class="form-group">
            <label>Role</label>
            <input type="text" class="form-control" name="ROLE" [value]="myData"  [(ngModel)]="myData">
          </div>
        </div>
        <div class="col-md-4">
          <div></div>
            <input type="text" class="form-control" name="HIST_ID" value=""  [(ngModel)]="_tableservice.selectpep.HIST_ID">
      
 
            <input type="text" class="form-control" name="APPROVE_STATUS"  value="{{apstatus}}"   [(ngModel)]="apstatus">
        
      
            <input type="text" class="form-control" name="CHANGE_TYPE" value=""  [(ngModel)]="_tableservice.selectpep.CHANGE_TYPE">
 
           
          
        </div>
      </div>
 
      </div>
 
 
  
    <input type="submit" class="btn btn-success"  value="{{btn_name}}">
    
  </form>
 



 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
 
 <div class="footer-copyright-area">
 <div class="container-fluid">
 <div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="footer-copy-right">
 <p>Copyright © 2020 <a href="#">Trustling</a> All rights reserved.</p>
 </div>
 </div>
 </div>
 </div>
 </div>
