<app-header></app-header>


<div class="data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="sparkline13-list">

          <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

              <div class="topbtn">

                <div class="main-sparkline13-hd">
                  <div class="part">
                    <h1>politicaly-Exposed-Person <small>(Select Row To Update)</small></h1>

                  </div>



                  <div class="btn-group btn-group-sm">
                    <button appBackbutton class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>
                      Back</button>




                      <div class="dropdown btn-group ">
                        <button class=" dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown"><i
                            class="fa fa-toggle-down"></i> Column
                        </button>
                        <ul class="dropdown-menu trust-menu">
                          <li class="dropdown-item">
                            <label for="nsncol"> <input type="checkbox" [checked]="nsncol"
                                (change)="nsncol=!nsncol" id="nsncol" />&nbsp;Sr. No</label>
                          </li>
                          <li class="dropdown-item">
                            <label for="zoneidcol"> <input type="checkbox" [checked]="zoneidcol"
                                (change)="zoneidcol=!zoneidcol" id="zoneidcol" />&nbsp;Zone Id</label>
                          </li>
                          <li class="dropdown-item">
                            <label for="settingflagcol"> <input type="checkbox" [checked]="settingflagcol "
                                (change)="settingflagcol =!settingflagcol " id="settingflagcol" />&nbsp;Setting Flag</label>
                          </li>
                          <li class="dropdown-item">
                            <label for="valueflagcol"> <input type="checkbox" [checked]="valueflagcol "
                                (change)="valueflagcol =!valueflagcol " id="valueflagcol" />&nbsp;Value</label>
                          </li>
                   
                       
                        </ul>
                      </div>
                    <ng-container *ngIf="_isaccess">
                      <button class="btn btn-primary btn-sm" (click)="ChkdeleteSelected('Approved',myUform)"><i class="fa fa
                        -check-square-o"></i> Approve</button>
                    <button class="btn btn-primary btn-sm" (click)="ChkdeleteSelected('Rejected',myUform)"><i class="fa fa-times"></i> Reject</button>
                     </ng-container>
                    <ng-container *ngIf="!_isaccess">
                      <button *ngIf="_updateButtonAccess" (click)="updateform()"
       class="btn btn-primary btn-sm" [class.disabled]="!this.masterSelected.length" ><i
         class="fa fa-edit"></i> Update</button>

                    </ng-container>
                  </div>








                </div>
              </div>

              <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">
                <thead class="table_header">
                  <tr>
                    <th class="text-center"  *ngIf="!_isaccess"><input type="checkbox" name="all" [checked]="this.masterSelected.length ==  this.showdatapart.length" (change)="checkUncheckAll()"/></th>
                    <th class="text-center" *ngIf="_isaccess"><input type="checkbox" name="all" [checked]="this.histmasterSelected.length ==  this.showdatapart.length" (change)="histcheckUncheckAll()"/></th>
                    <th *ngIf="nsncol">Sr.no</th>
                    <th *ngIf="zoneidcol"><span><input type="text" class="form-control" placeholder="ZONE ID" /></span>
                    </th>
                    <th *ngIf="settingflagcol"><span><input type="text" class="form-control" placeholder="SETTING_FLAG" /></span> </th>
                    <th *ngIf="valueflagcol"><span><input type="text" class="form-control" placeholder="VALUE" /></span></th>
                    <ng-container *ngIf="_isaccess">
                      <th><span><input type="text" class="form-control" placeholder="OLD ZONE ID" /></span> </th>
                      <th><span><input type="text" class="form-control" placeholder="OLD SENSITIVE WORD" /></span> </th>
                      <th>
                        <span>
                          
                          <select name="changetype" class="form-control" [(ngModel)]="changetype" (ngModelChange)="postChangetype($event)">
                            <option value="INSERT">INSERT</option>
                            <option value="DELETE">DELETE</option>
                            <option value="UPDATE">UPDATE</option>
                          </select>
                          </span>
                         </th>
                    
                    </ng-container>

                    <th *ngIf="ref_keys">REF KEY</th>

                  </tr>
                </thead>
                <tbody *ngIf="showdatapart?.length;else no_data_templ">

                  <ng-container
                    *ngFor="let item of showdatapart | paginate: { itemsPerPage: pageSize, currentPage: p } let i=index">
                    <tr
                    [ngClass]="{'disabledelitem': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == valuedelete)}"
                      (click)="onEdit(item,'Update')" [class.selected]="item === selectedsensitiveRow">
                      <td *ngIf="!_isaccess" style="text-align: center;">
                        <input type="checkbox"
                        [checked]="isItemChecked(item.REF_KEY)" id="{{item.REF_KEY}}" name="delete"
                          value="{{item.REF_KEY}}"  (change)="isAllSelected(item.REF_KEY)"></td>
                
                      <td *ngIf="_isaccess" style="text-align: center;"><input type="checkbox"
                          [checked]="ishistItemChecked(item.HIST_ID)" id="{{item.HIST_ID}}" name="deletechecker"
                          value="{{item.HIST_ID}}" (change)="histisAllSelected(item.HIST_ID)"></td>
                      <td *ngIf="nsncol">{{ (p - 1) * pageSize + i + 1 }}</td>
                      <td *ngIf="zoneidcol">{{item.ZONE_ID}}</td>
                      <td *ngIf="settingflagcol">{{item.SETTING_FLAG}}</td>
                      <td *ngIf="valueflagcol">{{item.VALUE}}</td>

                      <td *ngIf="ref_keys">{{item.REF_KEY}}</td>



                      <ng-container *ngIf="_isaccess">


                        <td>{{item.OLD_ZONE_ID}}</td>

                        <td *ngIf="zoneid" style="text-align: center;">{{item.CHANGE_TYPE}}</td>
        
                      </ng-container>

                    </tr>
                  </ng-container>

                </tbody>
                <ng-template #no_data_templ>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" colspan="8"> No data found...</td>
                    </tr>
                  </tbody>
                </ng-template>

              </table>
              <div class="row">
                <div class="col-12">


                  <div class="align-items-md-start d-flex justify-content-lg-end">
                    <select id="PerPage" [(ngModel)]="pageSize" *ngIf="showdatapart?.length">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>






                </div>

              </div>


              <form #myUform="ngForm" (ngSubmit)="UpdateSubmitForm(myUform)" id="updateform" style="display: none;">
                <div class="panel-body">
                  <h4>Update Record</h4>
                </div>

          
                <div class="row">
                  <div class="col-md-4">
                    <input type="hidden" name="REF_KEY" #REF_KEY="ngModel"
                      [(ngModel)]="_tableservice.selectpep.REF_KEY">
                    <div class="form-group">
                      <label>Zone Id</label>
                      <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel"
                        [(ngModel)]="_tableservice.selectpep.ZONE_ID" required>
                    </div>
                    <div class="form-group">
                      <label>Value</label>

                      <select name="VALUE" #VALUE="ngModel" [(ngModel)]="_tableservice.selectpep.VALUE">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </div>

                  </div>

                  <div style="display: none;">

                    <div class="form-group">
                      <label>User Id</label>
                      <input type="text" class="form-control" name="USER_ID"  [(ngModel)]="UserId">
                    </div>
                    <div class="form-group">
                      <label>User Name</label>
                      <input type="text" class="form-control" name="USER_NAME" 
                        [(ngModel)]="UserName">
                    </div>



                    <div class="form-group">
                      <label>User Zone</label>
                      <input type="text" class="form-control" name="USER_ZONE" 
                        [(ngModel)]="userzone">
                    </div>
                    <div class="form-group">
                      <label>Role</label>
                      <input type="text" class="form-control" name="ROLE"  [(ngModel)]="myData">
                    </div>



                    <input type="text" class="form-control" name="HIST_ID"  [(ngModel)]="ybunch">


                    <input type="text" class="form-control" name="APPROVE_STATUS" 
                      [(ngModel)]="apstatus">


                    <input type="text" class="form-control" name="CHANGE_TYPE" 
                      [(ngModel)]="changetype">



                  </div>

                </div>



                <input type="submit" class="btn btn-success" value="Update">

              </form>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

