
<app-header></app-header>


<div class="maintenance ">
  <div class="main_logo">
    <span> <img src="../../assets/datatable/img/maintence.svg" height="50" width="50"/>
     <span class=""></span>
   </span>
  
    
  </div>
 <div class="float-right">
  <button (click)="backClicked()" class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Back</button>

 </div>
 
  <div class="divider">
    <hr/>
  </div>
  <div class="container">
   <div class="row" >
     <div class="col-md-3 mb-4" *ngFor="let feature of features">
       <a class="dropdown-link" role="presentation" [routerLinkActive]="['active']"  routerLink="/{{feature.pagelink}}">
       <div class="card card-default">
         <div class="card-header">
    
             <div class="feature_icon" >
               <i class="fa {{feature.icon}}"></i>
             </div>
         </div>
         <div class="card-body">
          <h4 class="feature_title">{{feature.name}}</h4>
         </div>
         
       </div>
     </a>
     </div>
    
   </div>
  </div>
 
</div>