<app-header></app-header>


<div class="data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="sparkline13-list">
          <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">
              <div class="">
                <div class="main-sparkline13-hd">
                  <div class="part">
                    <h1>Department List <small>(Select Row To Update)</small></h1>
                  </div>
                  <div class="btn-group btn-group-sm">
                    <button appBackbutton class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>
                      Back</button>
                    <div class="dropdown btn-group ">
                      <button class=" dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown"><i
                          class="fa fa-toggle-down"></i> Column
                      </button>
                      <ul class="dropdown-menu trust-menu">
                        <li class="dropdown-item">
                          <label for="zoneidcol"> <input type="checkbox" [checked]="zoneidcol" (change)="zoneidcol=!zoneidcol"
                              id="zoneidcol" />&nbsp;Zone Id</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="noisewordcol"> <input type="checkbox" [checked]="noisewordcol "
                              (change)="noisewordcol =!noisewordcol " id="noisewordcol" />&nbsp;Noise Word</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="oldzoneidcol"> <input type="checkbox" [checked]="oldzoneidcol "
                              (change)="oldzoneidcol =!oldzoneidcol " id="oldzoneidcol" />&nbsp;Old Zone Id</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="oldnoisewordcol"> <input type="checkbox" [checked]="oldnoisewordcol"
                              (change)="oldnoisewordcol =!oldnoisewordcol " id="oldnoisewordcol" />&nbsp;Old Noise Word</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="changetypecol"> <input type="checkbox" [checked]="changetypecol"
                              (change)="changetypecol =!changetypecol " id="changetypecol" />&nbsp;Change Type</label>
                        </li>
                      </ul>
                    </div>
                    <ng-container *ngIf="!_isaccess">
                      <button (click)="addform()" class="btn btn-primary btn-sm"
                        [ngClass]="{'btn-default' : toggle, 'btn-success': !toggle}"><i class="fa fa-plus"></i> Add
                        Form</button>
                      <button class="btn btn-primary btn-sm" (click)="deleteSelected(myform)"
                        [class.disabled]="isdelete_button"><i class="fa fa-trash"></i> Delete</button>
                    </ng-container>
                  </div>
                </div>
              </div>
           <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">
                <thead class="table_header">
                  <tr>
                    <th class="text-center" ><input type="checkbox" name="all" [(ngModel)]="masterSelected" (change)="checkUncheckAll()"/></th>
                    <th>Sr.no</th>
                    <th *ngIf="zoneidcol"><span><input type="text" class="form-control" 
                          placeholder="Zone Id"  [(ngModel)]="zone"  /></span></th>
                    <th *ngIf="noisewordcol"><span><input type="text" class="form-control" 
                          placeholder="Description" [(ngModel)]="noise"/></span> </th>
                    <ng-container *ngIf="_isaccess">
                      <th *ngIf="oldzoneidcol"><span><input type="text" class="form-control" 
                            placeholder="Old Zone Id" [(ngModel)]="oldzone"/></span> </th>
                      <th *ngIf="oldnoisewordcol"><span><input type="text" class="form-control" 
                            placeholder="Old Noise Word" [(ngModel)]="oldnoise"/></span> </th>
                            <th *ngIf="changetypecol"><span><input type="text" class="form-control" 
                              placeholder="Change Type" [(ngModel)]="changetype"/></span> </th>
                      <th colspan="2" style="text-align: center;">ACTION</th>
                    </ng-container>
                    <th *ngIf="ref_keys">REF KEY</th>
                  </tr>
                </thead>
                <tbody *ngIf="showdata?.length;else no_data_templ">
                  <ng-container 
                    *ngFor="let item of showdata |neutralfilter:zone:noise:oldzone:oldnoise:changetype | paginate: { itemsPerPage: pageSize, currentPage: p } let i=index " >
                    <tr 
                      [ngClass]="{'disabled': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == valuedelete)}"
                      (click)="onEdit(item,'Update')" [class.selected]="item === selectdepartmenttralRow">
                      <td style="text-align: center;"><input type="checkbox"
                        [(ngModel)]="item.isSelected" id="{{item.REF_KEY}}" name="delete"
                          value="{{item.REF_KEY}}"  (change)="isAllSelected()"></td>
                      <td *ngIf="nsn">{{ (p - 1) * pageSize + i + 1 }}</td>

                      <td *ngIf="zoneidcol">{{item.DEPARTMENT_ID}}</td>
                      <td *ngIf="noisewordcol">{{item.DESCRIPTIONS}}</td>
                      
                     
                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #no_data_templ>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" colspan="8"> No data found...</td>
                    </tr>
                  </tbody>
                </ng-template>
              </table> 
              
              
            
              
              
              
              
              <div class="row">
                <div class="col-12">
                  <div class="align-items-md-start d-flex justify-content-lg-end">
                    <select id="PerPage" [(ngModel)]="pageSize" *ngIf="showdata?.length">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                </div>
              </div>
              <form #myform="ngForm" (ngSubmit)="submitform(myform)" id="addForm" style="display: none;">
                <div class="panel-body">
                  <h4>Add Record</h4>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="hidden" name="REF_KEY" #REF_KEY="ngModel"
                      [(ngModel)]="_tableservice.selectdepartment.REF_KEY">
                    <div class="form-group">
                      <label>Department Id</label>
                      <input type="text" class="form-control" name="DEPARTMENT_ID" #DEPARTMENT_ID="ngModel"
                        [(ngModel)]="_tableservice.selectdepartment.DEPARTMENT_ID" required>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <input type="text" class="form-control" name="DESCRIPTIONS" #DESCRIPTIONS="ngModel"
                        [(ngModel)]="_tableservice.selectdepartment.DESCRIPTIONS" required>
                    </div>
                  </div>
                  <div style="display: none;">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Id</label>
                        <input type="text" class="form-control" name="USER_ID" [value]="UserId" [(ngModel)]="UserId">
                      </div>
                      <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="USER_NAME" [value]="UserName"
                          [(ngModel)]="UserName">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Zone</label>
                        <input type="text" class="form-control" name="USER_ZONE" value="QA"
                          [(ngModel)]="_tableservice.selectdepartment.USER_ZONE">
                      </div>
                      <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control" name="ROLE" [value]="myData" [(ngModel)]="myData">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div></div>
                      <input type="text" class="form-control" name="HIST_ID" value=""
                        [(ngModel)]="_tableservice.selectdepartment.HIST_ID">
                      <input type="text" class="form-control" name="APPROVE_STATUS" value="{{apstatus}}"
                        [(ngModel)]="apstatus">
                      <input type="text" class="form-control" name="CHANGE_TYPE" value=""
                        [(ngModel)]="_tableservice.selectdepartment.CHANGE_TYPE">
                    </div>
                  </div>
                </div>
                <input type="submit" class="btn btn-success" value="{{btn_name}}">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

