<app-header></app-header>


<div class="data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="sparkline13-list">

          <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

              <div class="topbtn">
                <div class="main-sparkline13-hd">
                  <div class="part">
                    <h1>{{listtitle}} <small>(Select Row To Update)</small>
                    </h1>
                  </div>

                  <div class="btn-group btn-group-sm">
                    <button appBackbutton class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>
                      Back</button>

                    <div class="dropdown btn-group">
                      <button class="dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown"><i
                          class="fa fa-toggle-down"></i> Column
                      </button>
                      <ul class="dropdown-menu trust-menu">
                        <li class="dropdown-item ">
                          <label for="SERIAL"> <input type="checkbox" [checked]="SERIAL" (change)="SERIAL=!SERIAL"
                              id="SERIAL" />&nbsp;Serial No.</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="PROGRAMKEYWORD"> <input type="checkbox" [checked]="PROGRAMKEYWORD"
                              (change)="PROGRAMKEYWORD=!PROGRAMKEYWORD" id="PROGRAMKEYWORD" />&nbsp;Program
                            Keywords</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="PROGRAMKEYWORDDESC"> <input type="checkbox" [checked]="PROGRAMKEYWORDDESC "
                              (change)="PROGRAMKEYWORDDESC =!PROGRAMKEYWORDDESC "
                              id="PROGRAMKEYWORDDESC" />&nbsp;Program Keywords Description</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="PAYSYSID"> <input type="checkbox" [checked]="PAYSYSID "
                              (change)="PAYSYSID =!PAYSYSID " id="PAYSYSID" />&nbsp;PAYSYS_ID</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="SCOPES"> <input type="checkbox" [checked]="SCOPES " (change)="SCOPES =!SCOPES "
                              id="SCOPES" />&nbsp;SCOPE</label>
                        </li>
                        <li class="dropdown-item">
                          <label for="ZONEID"> <input type="checkbox" [checked]="ZONEID " (change)="ZONEID =!ZONEID "
                              id="ZONEID" />&nbsp;ZONE_ID</label>
                        </li>


                      </ul>
                    </div>
                    <ng-container *ngIf="_isaccess">
                      <button class="btn btn-primary btn-sm" [class.disabled]="!this.histmasterSelected.length" (click)="ChkdeleteSelected('Approved',myform)"><i class="fa fa
                        -check-square-o"></i> Approve</button>
                    <button class="btn btn-primary btn-sm" [class.disabled]="!this.histmasterSelected.length" (click)="ChkdeleteSelected('Rejected',myform)"><i class="fa fa-times"></i> Reject</button>
                     </ng-container>
                     <ng-container *ngIf="!_isaccess">
                     <button *ngIf="_InsertButtonAccess"  (click)="addform()" class="btn btn-primary btn-sm" [ngClass]="{'btn-default' : toggle, 'btn-success': !toggle}"><i class="fa fa-plus"></i>  Add Form</button>
                     <button *ngIf="_updateButtonAccess" (click)="updateform()"
                     class="btn btn-primary btn-sm" [class.disabled]="!this.masterSelected.length" ><i
                       class="fa fa-edit"></i> Update</button>
                     <button  *ngIf="_DeleteButtonAccess"  class="btn btn-primary btn-sm" (click)="deleteSelected(myform)" [class.disabled]="!this.masterSelected.length"><i  class="fa fa-trash"></i> Delete</button>
                     </ng-container>

                  </div>
                </div>
              </div>


              <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">

                <thead class="table_header">
                  <tr class="text-center">
                    <th class="text-center"  *ngIf="!_isaccess"><input type="checkbox" name="all" [checked]="this.masterSelected.length ==  this.showzvg.length" (change)="checkUncheckAll()"/></th>
                    <th class="text-center" *ngIf="_isaccess"><input type="checkbox" name="all" [checked]="this.histmasterSelected.length ==  this.showzvg.length" (change)="histcheckUncheckAll()"/></th>
                    <th *ngIf="SERIAL">Sr.no</th>
                    <th *ngIf="ZONEID"><select name="USER_ZONE" [value]="zonevalue" [(ngModel)]="zonevalue"
                        (ngModelChange)="onZoneChange($event)">
                        <option *ngFor="let zone of zonearray " [value]="zone.ZONE_ID" selected="userzone">{{zone.ZONE_ID}}</option>
                      </select></th>
                    <th *ngIf="PROGRAMKEYWORD"><input type="text" class="form-control" [(ngModel)]="pkey"
                        placeholder="PROGRAM KEYWORD" /></th>
                    <th *ngIf="PROGRAMKEYWORDDESC"><input type="text" class="form-control" [(ngModel)]="pkeyw"
                        placeholder="PROGRAM KEYWORD DESC" /></th>
                    <th *ngIf="PAYSYSID">PAYSYS ID</th>
                    <th *ngIf="SCOPES">SCOPE</th>
                    <th *ngIf="_isaccess"><input type="text" class="form-control"
                        placeholder="Old ZONE ID" /></th>
                    <th *ngIf="_isaccess"><input type="text" class="form-control"
                        [(ngModel)]="oldpkey" placeholder="OLD PROGRAM KEYWORD" /></th>
                    <th *ngIf="_isaccess"><input type="text" class="form-control"
                        [(ngModel)]="oldpkeyword" placeholder="OLD PROGRAM KEYWORD DESC" /></th>
                    <th *ngIf="_isaccess">
                      <span>

                        <select name="changetype" class="form-control" [(ngModel)]="changetype"
                          (ngModelChange)="postChangetype($event)">
                          <option value="INSERT">INSERT</option>
                          <option value="DELETE">DELETE</option>
                          <option value="UPDATE">UPDATE</option>
                        </select>
                      </span>
                    </th>
                    <!-- <th  *ngIf="_isaccess" colspan="2" class="text-center">ACTION</th> -->
                  </tr>
                </thead>
                <tbody *ngIf="showzvg?.length;else no_data_templ">
                  <ng-container
                    *ngFor="let item of showzvg  |filter:pkey:pkeyw:oldpkey:oldpkeyword:changetype | paginate: { itemsPerPage: pageSize, currentPage: p } let i=index ">
                    <tr
                      [ngClass]="{'disabledelitem': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == updatemark)}"
                      (click)="onEdit(item)" [class.selected]="item === selectedZoneRow">
                      <td *ngIf="!_isaccess" style="text-align: center;">
                        <input type="checkbox"
                        [checked]="isItemChecked(item.REF_KEY)" id="{{item.REF_KEY}}" name="delete"
                          value="{{item.REF_KEY}}"  (change)="isAllSelected(item.REF_KEY)"></td>
                
                      <td *ngIf="_isaccess" style="text-align: center;"><input type="checkbox"
                          [checked]="ishistItemChecked(item.HIST_ID)" id="{{item.HIST_ID}}" name="deletechecker"
                          value="{{item.HIST_ID}}" (change)="histisAllSelected(item.HIST_ID)"></td>

                      <td *ngIf="SERIAL">{{ (p - 1) * pageSize + i + 1 }}</td>
                      <td *ngIf="ZONEID">{{item.ZONE_ID}}</td>
                      <td *ngIf="PROGRAMKEYWORD">{{item.PROGRAM_KEYWORD}}</td>
                      <td *ngIf="PROGRAMKEYWORDDESC">{{item.PROGRAM_KEYWORD_DESC}}</td>
                      <td *ngIf="PAYSYSID">{{item.PAYSYS_ID}}</td>
                      <td *ngIf="SCOPES">{{item.SCOPE}}</td>


                      <ng-container *ngIf="_isaccess">
                        <td *ngIf="ZONEID">{{item.OLD_ZONE_ID}}</td>

                        <td>{{item.OLD_PROGRAM_KEYWORD}}</td>
                        <td>{{item.OLD_PROGRAM_KEYWORD_DESC}}</td>
                        <td>{{item.CHANGE_TYPE}}</td>

                      </ng-container>

                    </tr>
                  </ng-container>
                </tbody>
                <ng-template #no_data_templ>
                  <tbody>
                    <tr>
                      <td style="text-align: center;" colspan="8"> No data found...</td>
                    </tr>
                  </tbody>
                </ng-template>


              </table>
              <div class="row">
                <div class="col-12">


                  <div class="align-items-md-start d-flex justify-content-lg-end">
                    <select id="PerPage" [(ngModel)]="pageSize" *ngIf="showzvg?.length">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>






                </div>

              </div>

              <ng-template #elseBlock>No record found</ng-template>

                      <div class="row">
                        <div class="col-6">
                          <form #myform="ngForm" (ngSubmit)="submitform(myform)" id="addzoneform" style="display: none;">
                            <div class="panel-body">
                              <h4>Add Record</h4>
                            </div>
            
                          
                          
                                <input type="hidden" name="REF_KEY" #REF_KEY="ngModel"
                                  [(ngModel)]="_tableservice.selectedzvg.REF_KEY">
                                <div class="form-group">
                                  <label>Zone Id</label>
                                  <!-- <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel" [(ngModel)]="_tableservice.selectedzvg.ZONE_ID"> -->
                                  <select name="ZONE_ID" [value]="zonevalue" [(ngModel)]="_tableservice.selectedzvg.ZONE_ID">
                                    <option *ngFor="let zone of zonearray " [value]="zone.ZONE_ID">{{zone.ZONE_ID}}</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>PROGRAM_KEYWORD</label>
                                  <input type="text" class="form-control" name="PROGRAM_KEYWORD" #PROGRAM_KEYWORD="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.PROGRAM_KEYWORD">
                                </div>
                                <div class="form-group">
                                  <label>PROGRAM_KEYWORD_DESC</label>
                                  <input type="text" class="form-control" name="PROGRAM_KEYWORD_DESC"
                                    #PROGRAM_KEYWORD_DESC="ngModel" [(ngModel)]="_tableservice.selectedzvg.PROGRAM_KEYWORD_DESC">
                                </div>
            
            
                          
            
                             
            
                                <div class="form-group">
                                  <label>PAYSYS_ID</label>
                                  <input type="text" class="form-control" name="PAYSYS_ID" #PAYSYS_ID="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.PAYSYS_ID">
                                </div>
                                <div class="form-group">
                                  <label>SCOPE</label>
                                  <select class="form-control" name="SCOPE" #SCOPE="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.SCOPE">
                                    <option value="Shared">Shared</option>
                                    <option value="Private"> Private</option>
                                    <option value="Disable">Disable</option>
                                  </select>
                                </div>
                                <div style="display: none;">

                                  <div class="form-group">
                                    <label>User Id</label>
                                    <input type="text" class="form-control" name="USER_ID"  [(ngModel)]="UserId">
                                  </div>
                                  <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" name="USER_NAME" 
                                      [(ngModel)]="UserName">
                                  </div>
            
            
            
                                  <div class="form-group">
                                    <label>User Zone</label>
                                    <input type="text" class="form-control" name="USER_ZONE" 
                                      [(ngModel)]="userzone">
                                  </div>
                                  <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" class="form-control" name="ROLE"  [(ngModel)]="myData">
                                  </div>
            
            
            
                                  <input type="text" class="form-control" name="HIST_ID"  [(ngModel)]="ybunch">
            
            
                                  <input type="text" class="form-control" name="APPROVE_STATUS" 
                                    [(ngModel)]="apstatus">
            
            
                                  <input type="text" class="form-control" name="CHANGE_TYPE" 
                                    [(ngModel)]="changetype">
            
            
            
                                </div>
            
                          
            
                          
            
            
            
                            <input type="submit" class="btn btn-success" value="Add Item">
            
                          </form>
                        </div>
                        <div class="col-6">
                          <form #myUform="ngForm" (ngSubmit)="UpdateSubmitForm(myUform)" id="updateform" style="display: none;">
                            <div class="panel-body">
                              <h4>Update Record</h4>
                            </div>
            
                      
                       
                           
                                <input type="hidden" name="REF_KEY" #REF_KEY="ngModel"
                                  [(ngModel)]="_tableservice.selectedzvg.REF_KEY">
                                <div class="form-group">
                                  <label>Zone Id</label>
                                  <!-- <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel" [(ngModel)]="_tableservice.selectedzvg.ZONE_ID"> -->
                                  <select name="ZONE_ID" [value]="zonevalue" [(ngModel)]="_tableservice.selectedzvg.ZONE_ID">
                                    <option *ngFor="let zone of zonearray " [value]="zone.ZONE_ID">{{zone.ZONE_ID}}</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>PROGRAM_KEYWORD</label>
                                  <input type="text" class="form-control" name="PROGRAM_KEYWORD" #PROGRAM_KEYWORD="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.PROGRAM_KEYWORD">
                                </div>
                                <div class="form-group">
                                  <label>PROGRAM_KEYWORD_DESC</label>
                                  <input type="text" class="form-control" name="PROGRAM_KEYWORD_DESC"
                                    #PROGRAM_KEYWORD_DESC="ngModel" [(ngModel)]="_tableservice.selectedzvg.PROGRAM_KEYWORD_DESC">
                                </div>
            
            
                             
            
                            
            
                                <div class="form-group">
                                  <label>PAYSYS_ID</label>
                                  <input type="text" class="form-control" name="PAYSYS_ID" #PAYSYS_ID="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.PAYSYS_ID">
                                </div>
                                <div class="form-group">
                                  <label>SCOPE</label>
                                  <select class="form-control" name="SCOPE" #SCOPE="ngModel"
                                    [(ngModel)]="_tableservice.selectedzvg.SCOPE">
                                    <option value="Shared">Shared</option>
                                    <option value="Private"> Private</option>
                                    <option value="Disable">Disable</option>
                                  </select>
                                </div>
                                <div style="display: none;">

                                  <div class="form-group">
                                    <label>User Id</label>
                                    <input type="text" class="form-control" name="USER_ID"  [(ngModel)]="UserId">
                                  </div>
                                  <div class="form-group">
                                    <label>User Name</label>
                                    <input type="text" class="form-control" name="USER_NAME" 
                                      [(ngModel)]="UserName">
                                  </div>
            
            
            
                                  <div class="form-group">
                                    <label>User Zone</label>
                                    <input type="text" class="form-control" name="USER_ZONE" 
                                      [(ngModel)]="userzone">
                                  </div>
                                  <div class="form-group">
                                    <label>Role</label>
                                    <input type="text" class="form-control" name="ROLE"  [(ngModel)]="myData">
                                  </div>
            
            
            
                                  <input type="text" class="form-control" name="HIST_ID"  [(ngModel)]="ybunch">
            
            
                                  <input type="text" class="form-control" name="APPROVE_STATUS" 
                                    [(ngModel)]="apstatus">
            
            
                                  <input type="text" class="form-control" name="CHANGE_TYPE" 
                                    [(ngModel)]="changetype">
            
            
            
                                </div>
            
                            
            
                        
            
            
            
                            <input type="submit" class="btn btn-success" value="update">
            
                          </form>
                        </div>
                      </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>