<app-header></app-header>


<div class="data-table-area mg-b-15">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="sparkline13-list">

          <div class="sparkline13-graph">
            <div class="datatable-dashv1-list custom-datatable-overright">

              <div class="">

                <div class="main-sparkline13-hd">
                  <div class="part">
                    <h1>Name Screen <small>(Select Row To Update)</small></h1>

                  </div>



                  <div class="btn-group btn-group-sm">
                    <button appBackbutton class=" btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>
                      Back</button>




                    <div class="dropdown btn-group ">
                      <button class=" dropdown-toggle btn btn-primary btn-sm" type="button" data-toggle="dropdown"><i
                          class="fa fa-toggle-down"></i> Column
                      </button>
                      <ul class="dropdown-menu trust-menu">


                        <li class="dropdown-item ">
                          <label for="fieldlblcol"> <input type="checkbox" [checked]="fieldlblcol"
                              (change)="fieldlblcol=!fieldlblcol" id="fieldlblcol" />&nbsp;FIELD LABEL</label>
                        </li>
                        <li class="dropdown-item ">
                          <label for="scannmcol"> <input type="checkbox" [checked]="scannmcol"
                              (change)="scannmcol=!scannmcol" id="scannmcol" />&nbsp;SCAN</label>
                        </li>
                        <ng-container *ngIf="_isaccess">
                          <li class="dropdown-item ">
                            <label for="oldfieldlblcol"> <input type="checkbox" [checked]="oldfieldlblcol"
                                (change)="oldfieldlblcol=!oldfieldlblcol" id="oldfieldlblcol" />&nbsp;OLD FIELD
                              LABEL</label>
                          </li>
                          <li class="dropdown-item ">
                            <label for="oldscannmcol"> <input type="checkbox" [checked]="oldscannmcol"
                                (change)="oldscannmcol=!oldscannmcol" id="oldscannmcol" />&nbsp;OLD SCAN</label>
                          </li>
                          <li class="dropdown-item ">
                            <label for="ctnm"> <input type="checkbox" [checked]="ctnm" (change)="ctnm=!ctnm"
                                id="ctnm" />&nbsp;CHANGE TYPE</label>
                          </li>
                        </ng-container>




                      </ul>
                    </div>
                    <ng-container *ngIf="_isaccess">
                      <button class="btn btn-primary btn-sm" (click)="ChkdeleteSelected('Approved',myform)"><i class="fa fa
                        -check-square-o"></i> Approve</button>
                    <button class="btn btn-primary btn-sm" (click)="ChkdeleteSelected('Rejected',myform)"><i class="fa fa-times"></i> Reject</button>
                    
                     </ng-container>
                    <ng-container *ngIf="!_isaccess">
                      <button *ngIf="_InsertButtonAccess" (click)="addform()" class="btn btn-primary btn-sm"
                        [ngClass]="{'btn-default' : toggle, 'btn-success': !toggle}"><i class="fa fa-plus"></i> Add
                        Form</button>
                      <button *ngIf="_DeleteButtonAccess" class="btn btn-primary btn-sm" (click)="deleteSelected(myform)"
                        [class.disabled]="isdelete_button"><i class="fa fa-trash"></i> Delete</button>
                    </ng-container>
                  </div>








                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-condensed table-sm table-hover col-vs" id="test1table">
                  <thead class="table_header">




                    <tr>
                      <th class="text-center"  *ngIf="!_isaccess"><input type="checkbox" name="all" [(ngModel)]="masterSelected" (change)="checkUncheckAll()"/></th>
                      <th class="text-center" *ngIf="_isaccess"><input type="checkbox" name="all" [(ngModel)]="histmasterSelected" (change)="histcheckUncheckAll()"/></th>
                      <th>Sr.no</th>


                      <th *ngIf="fieldlblcol"><span><input type="text" class="form-control"
                            placeholder="FIELD_LABEL"  [(ngModel)]="flnm"/></span> </th>
                      <th *ngIf="scannmcol"><span><input type="text" class="form-control" placeholder="SCAN"  [(ngModel)]="scannm"/></span>
                      </th>


                      <ng-container *ngIf="_isaccess">


                        <th *ngIf="oldfieldlblcol"><span><input type="text" class="form-control"
                              placeholder="OLD_FIELD_LABEL" [(ngModel)]="oldflnm"/></span> </th>
                        <th *ngIf="oldscannmcol"><span><input type="text" class="form-control"
                              placeholder="OLD_SCAN" [(ngModel)]="oldscannm"/></span> </th>


                              <th ><span>    <select name="changetype" class="form-control" [(ngModel)]="changetype" (ngModelChange)="postChangetype($event)">
                                <option value="INSERT">INSERT</option>
                                <option value="DELETE">DELETE</option>
                                <option value="UPDATE">UPDATE</option>
                              </select></span> </th>
                 
                      </ng-container>

               

                    </tr>
                  </thead>
                  <tbody *ngIf="showdatapart?.length;else no_data_templ">

                    <ng-container  *ngFor="let item of showdatapart  |namescreen:flnm:scannm:oldflnm:oldscannm:changetype | paginate: { itemsPerPage: pageSize, currentPage: p }  let i=index">
                      <tr
                        [ngClass]="{'disabled': (item.IS_DELETE == valuedelete),'disabledback': (item.IS_UPDATE == valuedelete)}"
                        (click)="onEdit(item,'Update')" [class.selected]="item === selectednsRow">
                        <td *ngIf="!_isaccess" style="text-align: center;">
                          <input type="checkbox"
                          [(ngModel)]="item.isSelected" id="{{item.REF_KEY}}" name="delete"
                            value="{{item.REF_KEY}}"  (change)="isAllSelected()"></td>
        
                        <td *ngIf="_isaccess" style="text-align: center;"><input type="checkbox"
                            [(ngModel)]="item.isSelected" id="{{item.HIST_ID}}" name="deletechecker"
                            value="{{item.HIST_ID}}" (change)="histisAllSelected()"></td>
                        <td>{{ (p - 1) * pageSize + i + 1 }}</td>


                        <td *ngIf="fieldlblcol">{{item.FIELD_LABEL}}</td>
                        <td *ngIf="scannmcol">{{item.SCAN}}</td>





                        <ng-container *ngIf="_isaccess">


                          <td *ngIf="oldfieldlblcol">{{item.OLD_FIELD_LABEL}}</td>
                          <td *ngIf="oldscannmcol">{{item.OLD_SCAN}}</td>

                          <td *ngIf="ctnm">{{item.CHANGE_TYPE}}</td>
                      
                        </ng-container>

                      </tr>
                    </ng-container>

                  </tbody>
                  <ng-template #no_data_templ>
                    <tbody>
                      <tr>
                        <td style="text-align: center;" colspan="100%"> No data found...</td>
                      </tr>
                    </tbody>
                  </ng-template>

                </table>
              </div>

              <div class="row">
                <div class="col-12">


                  <div class="align-items-md-start d-flex justify-content-lg-end">
                    <select id="PerPage" [(ngModel)]="pageSize" *ngIf="showdatapart?.length">
                      <option [ngValue]="5">5</option>
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                    </select>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>






                </div>

              </div>


              <form #myform="ngForm" (ngSubmit)="submitform(myform)" id="addForm" style="display: none;">
                <div class="panel-body">
                  <h4>Add Record</h4>
                </div>

                {{myform.value|json}}
                <div class="row">
                  <div class="col-md-4">
                    <input type="hidden" name="REF_KEY" #REF_KEY="ngModel" [(ngModel)]="_tableservice.selectns.REF_KEY">
                    <!-- <div class="form-group">
                      <label>Zone Id</label>
                      <input type="text" class="form-control" name="ZONE_ID" #ZONE_ID="ngModel"
                        [(ngModel)]="_tableservice.selectns.ZONE_ID" required>
                    </div> -->
                    <div class="form-group">
                      <label>FIELD_LABEL</label>
                      <input type="text" class="form-control" name="FIELD_LABEL" #FIELD_LABEL="ngModel"
                        [(ngModel)]="_tableservice.selectns.FIELD_LABEL" required>
                    </div>
                    <div class="form-group">
                      <label>SCAN</label>
                      <select class="form-control" name="SCAN" #SCAN="ngModel"
                        [(ngModel)]="_tableservice.selectns.SCAN">
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                      </select>
                    </div>


                  </div>

                  <div style="display: none;">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Id</label>
                        <input type="text" class="form-control" name="USER_ID" [value]="UserId" [(ngModel)]="UserId">
                      </div>
                      <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="USER_NAME" [value]="UserName"
                          [(ngModel)]="UserName">
                      </div>

                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>User Zone</label>
                        <input type="text" class="form-control" name="USER_ZONE" [value]="userzone"
                          [(ngModel)]="userzone">
                      </div>
                      <div class="form-group">
                        <label>Role</label>
                        <input type="text" class="form-control" name="ROLE" [value]="myData" [(ngModel)]="myData">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div></div>
                      <input type="text" class="form-control" name="HIST_ID" value="{{ybunch}}"
                        [(ngModel)]="ybunch">


                      <input type="text" class="form-control" name="APPROVE_STATUS" value="{{apstatus}}"
                        [(ngModel)]="apstatus">


                      <input type="text" class="form-control" name="CHANGE_TYPE" [value]="changetype"
                        [(ngModel)]="changetype">



                    </div>
                  </div>

                </div>



                <input type="submit" class="btn btn-success" value="{{btn_name}}">

              </form>




            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

