tr.selected {
    background-color:#123456 !important;
    color:#fff;

  }
  .hiddenRow
  {
    display: none;
  }
  .yellowRow
  {
    background: yellow;
  }
  .greenRow
  {
    background: green;
  }

  .card-title {
    margin-bottom: 0;
    font-size: 1.2em!important;
}